 body {
     font-family: 'Roboto', sans-serif;
     color: #434455;
     background: #FFFFFF;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p,
 ul {
     margin: 0;
 }

 a {
     text-decoration: none;
 }

 .visually-hidden {
     position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     border: 0;
     padding: 0;
     white-space: nowrap;
     clip-path: inset(100%);
     clip: rect(0 0 0 0);
     overflow: hidden;
 }

 ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
 }

 img {
     display: block;
     max-width: 100%;
     height: auto;
 }
 button {
    cursor: pointer;
 }

 /* common */
 
  .container {
      max-width: 320px;
      padding-left: 16px;
      padding-right: 16px;
      margin: 0 auto;
  }

  @media screen and (min-width: 768px) {
.container {
    max-width: 768px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
    }
  }

  @media screen and (min-width: 1158px) {
.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
  }

/* header */

.header {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-menu-list,
.header-address
 {
    display: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
}

.header-logo {
padding: 16px 0;
display: block;
}

.header-logo-italic {
    color: #2e2f42;
    font-family: "Raleway", sans-serif;
}

.mob-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.mob-btn-icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
.mob-btn {
    display: none;
}

.header-menu-link {
    color: #2e2f42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    display: block;
}

.header-menu-link:hover,
.header-menu-link:focus,
.header-menu-link.header-studio {
    color: #404bbf;
}

.header-studio::after {
    content: '';
    height: 4px;
    width: 100%;
    background-color: #404bbf;
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: -1px;
}

.header-menu-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-logo {
    padding: 24px 0;
    margin-right: 120px;
}

.header-address {
    font-style: normal;
    display: block;
}

.header-address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-address-contacts {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address-contacts:hover,
.header-address-contacts:focus {
    color: #404bbf;
}
}

@media screen and (min-width: 1158px) {
.header-logo {
    margin-right: 76px;
}

.header-address-list {
    flex-direction: row;    
    align-items: center;
    gap: 40px;
}
.header-address-contacts {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
}

/* mobile-menu */

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    padding: 0;
    margin-left: auto;
    margin-bottom: 24px;
    width: 24px;
    height: 24px;
}

.mobile-menu-nav {
    margin-bottom: auto;
}

.header-menu-list-2 {

}

.header-menu-link-2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    margin-bottom: 40px;
   
}

/* .header-menu-link-2:not(:last-child) {
    margin-bottom: 40px;
} */

.header-menu-link-2:hover,
.header-menu-link-2:focus {
    color: #404bbf;
}

.header-address-contacts-2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    display: flex;
    font-style: normal;
    margin-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .header-address-contacts-2:not(:last-child) {
    margin-bottom: 24px;
} */

.header-address-contacts-2:hover,
.header-address-contacts-2:focus {
    color: #4d5ae5;
}

.social-list-mob {
    display: flex;
    gap: 40px;
    margin-top: 24px;
}

.social-mob {
    display: flex;
    gap: 40px;
}

.social-link-mob {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4d5ae5;
    border-radius: 50%;
}

.svg-img-mob {
    fill: white;


@media screen and (min-width: 768px) {
.mobile-menu {
    display: none;
}
}}

/* Section 1 */

.hero {
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/dark-bg-mob.jpg);
    background-size: cover;
    background-position: center;
    padding: 72px 36px 200px 36px;
    margin: 0 auto;
    background-repeat: no-repeat;
    max-width: 320px;
}

@media screen and (min-resolution: 2x),
(-webkit-min-device-pixel-ratio: 2x) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/dark-bg-mob-2x.jpg);
    }

.hero-title {
    max-width: 496px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #fff;
    margin: 0 auto;
    margin-bottom: 72px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.hero-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #4d5ae5;
    cursor: pointer;
    display: block;
    margin: 0 auto 0;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
    background: #404bbf;
}

@media screen and (min-width: 768px) {
.hero {
    max-width: 768px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
        url(../images/dark-bg-tablet\ \(1\).jpg);
    padding: 112px 120px 204px 120px;
    }

    @media screen and (min-resolution: 2x),
    (-webkit-min-device-pixel-ratio: 2x) {
.hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
        url(../images/dark-bg-tab-2x.jpg);
    }

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin-bottom: 36px;
}
}}

@media screen and (min-width: 1158px) {
.hero {
    max-width: 1440px;
    padding-top: 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
        url(../images/main-bg.jpg);
    }

    @media screen and (min-resolution: 2x),
    (-webkit-min-device-pixel-ratio: 2x) {
.hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
        url(../images/main-bg-2x.jpg);
}}
.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin-bottom: 48px;
}
}

/* Section 2 */

.strategy {
    padding-top: 96px;
    padding-bottom: 96px;
}

.strategy-list {
    display: flex;
    gap: 72px;
    flex-wrap: wrap;
    margin: 0;
}

.strategy-list-item {
    width: 100%;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.img-svg {
    display: none;
}

.strategy-container {
    display: flex;
    align-items: center;
}

.strategy-subtitle {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin: 0 auto 8px;
    text-align: center;
}

.strategy-item-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
.strategy {
    padding-top: 96px;
    padding-bottom: 96px;
    }

.strategy-subtitle {
    display: flex;
    justify-content: flex-start;
}

.strategy-list {
    gap: 72px 24px;
    }

.strategy-list-item {
    flex-basis: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
.strategy-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.strategy-list {
    padding-left: 0;
    gap: 24px;
    }

.strategy-list-item {
    flex-basis: calc((100% - 72px) / 4);
    }

.img-svg {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    gap: 24px;
    margin-bottom: 8px;
}

.strategy-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
}

/* Section 3 */

.team {
    background-color: #f4f4fd;
    padding-top: 96px;
    padding-bottom: 96px;
    box-shadow: 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;

}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    padding-right: 16px;
    padding-left: 16px;
}

.team-list-item {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    margin: 0 auto;
    max-width: 264px;

    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-container {
    margin: 0 auto;
    padding: 32px 16px;
}

.team-list-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.team-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
    margin-bottom: 8px;
}

.social-list-team {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-link-team {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-img-team {
    fill: #f4f4fd;
}

.social-link-team:hover,
.social-link-team:focus {
    background-color: #404bbf;
}

@media screen and (min-width: 768px) {
.team-list {
    padding-left: 92px;
    padding-right: 92px;
    gap: 64px 24px;
    display: flex;
}
    
.team-list-item {
    width: calc((100% - 24px) / 2);
}
}

@media screen and (min-width: 1158px) {
.team {
    padding: 120px 0;
    }

.team-list {
    gap: 24px;
    flex-wrap: nowrap;
    padding: 0;
    }

.team-list-item {
    flex-basis: calc((100% - 72px) / 4);
    /* flex-wrap: nowrap; */
    /* flex-shrink: 0;
    flex-grow: 0;  */
    }
}

/* Section 4 */

.port {
    padding-top: 96px;
    padding-bottom: 96px;
}

.port-container {
    margin: 0 auto;
}

.port-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
}

.port-list-item {
    width: 100%;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.port-list-item:hover,
.port-list-item:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.port-list-item:hover .port-cover-text {
    transform: translateY(0);
}

.port-cover-wrap {
    position: relative;
    overflow: hidden;
}

.port-cover-text {
    position: absolute;
    top: 0;
    left: 0;
    padding: 40px 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #4d5ae5;
    color: #f4f4fd;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.port-descrp {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    max-width: 360px;
}

.port-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin: 0 auto 72px;
}

.port-list-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.port-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 768px) {
.port-list {
    column-gap: 24px;
    row-gap: 72px;
}

.port-list-item {
    flex-basis: calc((100% - 24px) / 2);
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
}

@media screen and (min-width: 1158px) {
.port {
    padding-top: 120px;
    padding-bottom: 120px;
}

.port-container {
    max-width: 1128px;
    width: 100%;
}

.port-list {
    column-gap: 24px;
    row-gap: 48px;
}

.port-list-item {
    flex-basis: calc((100% - 48px) / 3);
    box-shadow: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.port-list-item:focus {
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
}

/* Footer */

.footer {
    background-color: #2e2f42;
    padding: 96px 0;
}

.content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
}

.footer-logo-italic {
    color: #f4f4fd;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    margin-bottom: 72px;
    /* max-width: 264px; */
}

.footer-social {
    fill: #f4f4fd;
    margin: 0 auto;
    position: relative;
}

.footer-social-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    text-align: center;
}

.footer-social-icon {
    display: flex;
    gap: 16px;
}

.list-social-icon {
    width: 40px;
    height: 40px;
    margin-bottom: 72px;
}

.social-icon-svg {
    fill: #f4f4fd;
}

.social-link-svg {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-svg:hover,
.social-link-svg:focus {
    background-color: #31d0aa;
}


.footer-form-text {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-form {
}

.footer-input {
    border: 1px solid #ffffff;
    opacity: 0.3;
    border-radius: 4px;
    width: 288px;
    height: 40px;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: #fff;
    outline: none;
    margin-bottom: 16px;
}

.footer-input::placeholder {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    opacity: 0.6;
}
.footer-btn-1 {
    display: flex;
    justify-content: center;
}
.footer-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 165px;
    height: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn:hover,
.footer-btn:focus {
    background-color: #404bbf;
}

.footer-icon-send {
    margin-left: 16px;
    fill: #fff;
}

@media screen and (min-width: 768px) {
.content {
    display: flex; 
    align-items: baseline;
    flex-wrap: wrap;
    }

.footer-logo-div {
    padding-left: 92px;
    margin-right: 24px;
}

.footer-logo {
    display: flex;
    justify-content: left;
}

.footer-text {
    max-width: 264px;
}

.footer-social {
    margin: 0;
}

.footer-social-text {
    display: flex;
    justify-content: left;
}

.container-form {
/* padding-left: 92px; */
margin-left: 80px;
}

.container-form-3 {
    position: relative;
}

.container-form-2 {
display: flex;
gap: 24px;
position: absolute;
}

.footer-input {
 width: 264px;
}
}

@media screen and (min-width: 1158px) {
.footer {
background-color: #2e2f42;
padding: 100px 0;
}

.content {
display: flex;
align-items: baseline;  
}

.footer-logo-div {
margin-right: 120px;
padding: 15px;
}

.footer-logo {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
margin-bottom: 16px;
}

.footer-logo-italic {
color: #f4f4fd;
}

.footer-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
max-width: 264px;
}

.footer-social {
fill: #f4f4fd;
}

.footer-social-text {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #fff;
margin-bottom: 16px;
}

.footer-social-icon {
display: flex;
justify-content: start;
align-items: center;
gap: 16px;
}

.list-social-icon {
width: 40px;
height: 40px;
}

.social-icon-svg {
fill: #f4f4fd;
}

.social-link-svg {
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
background-color: #4d5ae5;
border-radius: 50%;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-svg:hover,
.social-link-svg:focus {
background-color: #31d0aa;
}

    /* 
.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
} */

.container-form {
display: inline-block; */
margin-left: 65px;
top: 0; 
    }

.footer-form-text {
margin-bottom: 16px;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #ffffff;
}

.footer-form {
display: flex;
gap: 24px;
}

.footer-input {
border: 1px solid #ffffff;
border-radius: 4px;
width: 264px;
height: 40px;
background-color: transparent;
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;
padding-left: 16px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
color: #ffffff;
outline: none;
}

    /* .footer-input::placeholder {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
} */

.footer-btn {
min-width: 165px;
height: 40px;
display: flex;
justify-content: center;
align-items: center;
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #ffffff;
cursor: pointer;
border-radius: 4px;
padding: 8px 24px;
border: none;
background-color: #4d5ae5;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn:hover,
.footer-btn:focus {
background-color: #404bbf;
}

.footer-icon-send {
margin-left: 16px;
fill: #fff;
}
}

.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    width: 288px;
    min-height: 623px;
    background-color: #fcfcfc;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 24px 24px 24px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    background-color: #e7e9fc;
    position: absolute;
    top: 24px;
    right: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.modal-close:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.modal-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 16px;
    color: #2e2f42;
}

.modal-field {
    margin-bottom: 8px;
}

.input-wrap {
    position: relative;
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    border-radius: 4px;
    padding-left: 38px;
    padding-right: 16px;
    font-size: 16px;
    color: #000;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: #4d5ae5;
}

.modal-input:focus+.modal-input-icon {
    fill: #4d5ae5;
}

.modal-input-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-label {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.modal-field-comment {
    margin-bottom: 16px;
}

.modal-textarea {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    border-radius: 4px;
    padding: 8px 16px;
    resize: none;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-textarea:focus {
    border-color: #4d5ae5;
}

.modal-checkbox {
    margin-bottom: 24px;
}

.modal-check-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.21;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.modal-check-item {
    width: 16px;
    height: 16px;
    display: inline-flex;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    margin-right: 8px;
    align-items: center;
    justify-content: center;
    fill: transparent;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:checked+.modal-label .modal-check-item {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}
.policy-link-1{
    width: 231px;
    height: 31px;
}
.policy-link {
    line-height: 1.33333;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.modal-btn {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: block;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    color: #fff;
    border: none;
    margin: auto;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
.modal {
    width: 408px;
    min-height: 584px;
}

.policy-link-1 {
width: 338px;
height: 16px;
}
}